!!! 5
%html{:lang => "en"}
  %head
    %title Derek Eder - Open Data Web Developer
    %meta{:charset => "utf-8"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
            
    / Styles
    = include_stylesheet "bootstrap.spacelab.min"
    = include_stylesheet "bootstrap-responsive"
    = include_stylesheet :custom
    = content :stylesheets
    
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = include_javascript "http://html5shim.googlecode.com/svn/trunk/html5.js"

  %body
    .container
      .row
        .span3.content-secondary
          %h2 Derek Eder
          %img.pull-left.img-polaroid.headshot{:src => "/images/derek.jpg", :alt=> "Derek Eder", :title => "Derek Eder"}
          <p>Open data web developer in Chicago, owner of DataMade, an <a href='http://en.wikipedia.org/wiki/Open_government'>open government</a> and <a href='http://en.wikipedia.org/wiki/Open_data'>open data</a> web consulting company and co-founder of <a href='http://opencityapps.org/'>Open City</a>.</p>
          <p>You can <a href="mailto:derek.eder+de@gmail.com">email</a> or <a href='http://twitter.com/derek_eder'>tweet</a> at me.</p>

          %p
            %a{:href => "https://github.com/derekeder"}
              %img{:alt => "Derek Eder on Github", :src => "/images/social/github.png", :title => "Derek Eder on Github Github"}
            %a{:href => "https://twitter.com/derek_eder"}
              %img{:alt => "Derek Eder on Twitter", :src => "/images/social/twitter.png", :title => "Derek Eder on Github Twitter"}
            %a{:href => "http://www.linkedin.com/in/derekeder"}
              %img{:alt => "Derek Eder on LinkedIn", :src => "/images/social/linkedin.png", :title => "Derek Eder on Github LinkedIn"}

          .clearfix
        
        .span9
          .well.content-primary
            %ul.nav.nav-pills
              %li{:class => current_menu_class("home")}
                %a{:href => "/"} 
                  Home
              %li{:class => current_menu_class("tools")}
                %a{:href => "/tools"} 
                  Tools
              %li{:class => current_menu_class("websites")}
                %a{:href => "/websites"} 
                  Websites
              %li{:class => current_menu_class("press")}
                %a{:href => "/press"} 
                  Press
              %li{:class => current_menu_class("about")}
                %a{:href => "/about"} 
                  About
            %hr
            = yield
      
    %footer.footer
      .span12
        %p.pull-right
          %a{:href => "https://twitter.com/derek_eder"} @derek_eder
          |
          %a{:href => "mailto:derek.eder+de@gmail.com"} Email me
          |
          &copy; Derek Eder
    
    = include_javascript :jquery
    = include_javascript :bootstrap
    = content :javascripts

    = include_javascript :"analytics_lib" if production?

